# Ignore noggit red project files
*.noggitproj

# Ignore blp resources from 0.5.3
textures\*.blp

# Ignore WLW resources from 0.5.3
*.wlw
*.wlm

# ignore pm4 pd4 data
*.pd4
*.pm4

# ignore chunk databases
chunk_data.db

# (temporary) ignore krita project files
# .kra 

# ignore vcol png files
*_vcol.png

# python stuff
pycache/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Logs

*.log
# Databases

*.db
# Output directories

output_files/
databases/
output/

# IDE

.idea/
.vscode/
*.swp
*.swo

# OS

.DS_Store
Thumbs.db